html, body {
    margin: 0;
    background-color: var(--color-secondary);
}

p {
    margin: 0;
    line-height: 1.5;
}

/* all scrolling positions set to relative */
#scroll {
    position: relative;
}

#chart {
    background-color: blanchedalmond;
}

/* set scroll graphic to absolute and lock in the position */
.scroll__graphic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    z-index: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* remain fixed when inside the "sticky" area */
.scroll__graphic.is-fixed {
    position: sticky;
}

/* when at bottom of "sticky" area section, remove fixed position */
.scroll__graphic.is-bottom {
    bottom: 0;
    top: auto;
}

.scroll__text {
    padding: 0 1rem;
    max-width: 30rem;
    -moz-transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
}

.step {
    opacity: 0.5;
    padding: 1rem;
    border: 1px solid #D7D7D7;
    background-color: var(--color-secondary);
    max-width: 800px;
    margin: 10px;
}

.step.is-active {
    opacity: 1;
    z-index: 500;
}

.scroll__graphic #chart {
    position: absolute;
    z-index: 0;
    right: 1rem;
    top: 50%;
    -moz-transform: translateY(-75%);
    -webkit-transform: translateY(-75%);
    transform: translateY(-75%);
    /* -moz-transform: translateY(25%);
    -webkit-transform: translateY(25%);
    transform: translateY(25%); */
}

.step p {
    margin: 0 auto;
    margin-bottom: 1rem;
}

.container-md {
    background-color: white;
    padding: 0 1.5rem;
}

.row {
    padding-top: 3rem;
}

.outro {
    max-width: 66vw;
}

a,
a:visited {
    color: var(--color-primary)
}

footer {
    background-color: #B8D2E5;
    padding: 5rem 0 1rem 0;
    text-align: center;
    font-size: 1rem;
}

@media screen and (max-width: 800px) {

    body {
        padding: 0;
    }

    p {
        line-height: 1.3;
        font-size: 10pt;
    }

    .intro,
    .outro {
        display: block;
        max-width: 100vw;
    }

    .intro {
        padding-top: 0;
    }

    .step {
        padding: 1rem;
        margin-top: 20px;
    }

    .quote {
        /* flex-direction: column; */
        font-size: 9pt;
    }

    .scroll__graphic.is-fixed {
        position: fixed;
        bottom: 0;
        top: auto;
        z-index: 100;
    }

    .scroll__graphic {
        position: fixed; 
        bottom: 0;
        top: auto;
    }

    .scroll__graphic #chart {
        right: 0;
        bottom: 0;
        top: auto;
        -moz-transform: translateY(25%);
        -webkit-transform: translateY(25%);
        transform: translateY(25%); 
    }

    .scroll__text {
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        z-index: -1;
    }

    .step {
        z-index: -2;
        max-height: 60%;
    }

    .outro {
        -moz-transform: translateY(-15%);
        -webkit-transform: translateY(-15%);
        transform: translateY(-15%);
        margin-bottom: 300px
    }

    #chart {
        background-color: #FAFBFC;
        z-index: 600;
    }

    .step.is-active {
        z-index: -100;
    }
}